<section class="auto-scroller auto-scroller--products">
  <div class="auto-scroller__inner">
    <div class="auto-scroller__panel">
      <div class="backward">
        <div class="forward">
          <span class="scrolling-text">ORGANIC, CLEAN INGREDIENTS, GLUTEN FREE, NO ARTIFICIAL FLAVORS, VEGAN, </span>
          <span class="scrolling-text">ORGANIC, CLEAN INGREDIENTS, GLUTEN FREE, NO ARTIFICIAL FLAVORS, VEGAN, </span>
          <span class="scrolling-text">ORGANIC, CLEAN INGREDIENTS, GLUTEN FREE, NO ARTIFICIAL FLAVORS, VEGAN, </span>
          <span class="scrolling-text">ORGANIC, CLEAN INGREDIENTS, GLUTEN FREE, NO ARTIFICIAL FLAVORS, VEGAN, </span>
        </div>
        <div class="forward">
          <span class="scrolling-text">ORGANIC, CLEAN INGREDIENTS, GLUTEN FREE, NO ARTIFICIAL FLAVORS, VEGAN, </span>
          <span class="scrolling-text">ORGANIC, CLEAN INGREDIENTS, GLUTEN FREE, NO ARTIFICIAL FLAVORS, VEGAN, </span>
          <span class="scrolling-text">ORGANIC, CLEAN INGREDIENTS, GLUTEN FREE, NO ARTIFICIAL FLAVORS, VEGAN, </span>
          <span class="scrolling-text">ORGANIC, CLEAN INGREDIENTS, GLUTEN FREE, NO ARTIFICIAL FLAVORS, VEGAN, </span>
        </div>
      </div>
    </div>
  </div>
</section>
