<section class="home-about-anim">

  <div class="home-about__meet flex flex-wrap justify-center md-row">
    <div class="rotate-anim">
      <svg>
        <use xlink:href="#home-about-meet-xxs"></use>
      </svg>
    </div>
  </div>

  <div class="home-about-anim__inner container">
    <div class="auto-scroller auto-scroller--about">
      <div class="auto-scroller__inner">
        <div class="auto-scroller__panel">
          <div class="backward">
            <div class="forward">
              {% render 'lazy-asset-img', src: 'home-about-marquee-1.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-2.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickles' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-3.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl & pickle' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-4.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-5.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-6.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickles' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-7.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-8.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickle' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-9.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickle' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-10.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-11.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-12.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-13.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickle' %}
            </div>
            <div class="forward">
              {% render 'lazy-asset-img', src: 'home-about-marquee-1.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-2.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickles' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-3.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl & pickle' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-4.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-5.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-6.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickles' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-7.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-8.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickle' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-9.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickle' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-10.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-11.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-12.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Girl' %}
              {% render 'lazy-asset-img', src: 'home-about-marquee-13.png', width: 1000, height: 1000, class: 'home-about-anim__item lazy-img--natural-height', alt: 'Pickle' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
