<section class="home-products-bubble {{ class }}">
  {% render 'lazy-asset-img', src: 'home-products-girl.png', width: 930, height: 840, class: 'home-products-content__girl home-products-content__girl--xxs moving-el lazy-img--regular', alt: 'Girl' %}
  {% render 'lazy-asset-img', src: 'home-products-bubble.svg', width: 555, height: 543, class: 'lazy-img--regular', alt: 'bubble' %}

  <div class="home-products-bubble__text aligncenter">
    For a journey that goes from <span class="color-green-merch">tangy</span>, to <span class="color-pink">sweet</span> and <span class="color-red">spicy</span>. This is the best way to get to know our taste profiles and find your new <span class="color-purple">favorite pickle</span>.
  </div>
</section>
