<section class="auto-scroller auto-scroller--hot-girls">
  <div class="auto-scroller__inner">
    <div class="auto-scroller__panel">
      <div class="backward">
        <div class="forward">
          <span class="scrolling-text scrolling-text--bigger">Pickles for the hot girls, for the good girls, for the snack enthusiasts. </span>
          <span class="scrolling-text scrolling-text--bigger">Pickles for the hot girls, for the good girls, for the snack enthusiasts.&nbsp;</span>
          <span class="scrolling-text scrolling-text--bigger">Pickles for the hot girls, for the good girls, for the snack enthusiasts.&nbsp;</span>
          <span class="scrolling-text scrolling-text--bigger">Pickles for the hot girls, for the good girls, for the snack enthusiasts.&nbsp;</span>
        </div>
        <div class="forward">
          <span class="scrolling-text scrolling-text--bigger">Pickles for the hot girls, for the good girls, for the snack enthusiasts.&nbsp;</span>
          <span class="scrolling-text scrolling-text--bigger">Pickles for the hot girls, for the good girls, for the snack enthusiasts.&nbsp;</span>
          <span class="scrolling-text scrolling-text--bigger">Pickles for the hot girls, for the good girls, for the snack enthusiasts.&nbsp;</span>
          <span class="scrolling-text scrolling-text--bigger">Pickles for the hot girls, for the good girls, for the snack enthusiasts.&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</section>
