<section class="home-pickles-talk grid flex flex-wrap">
  <div class="home-pickles-talk__col home-pickles-talk__col--1 col xxs-col-12 lg-col-6 moving-el">
    <div class="home-pickles-talk__bubble home-pickles-talk__bubble--1">
      <svg>
        <use xlink:href="#home-pickles-talk-bubble-1"></use>
      </svg>

      <div class="home-pickles-talk__text" data-text="Why are Hot Girl Pickles™ sexier than other leading pickle companies?">
        Why are Hot Girl Pickles™ sexier than other leading pickle companies?
      </div>
    </div>
    {% render 'lazy-asset-img', src: 'home-pickles-talks-1.png', width: 546, height: 519, class: 'home-pickles-talk__pickle home-pickles-talk__pickle--1 lazy-img--regular', alt: 'Pickle' %}
  </div>

  <div class="home-pickles-talk__col home-pickles-talk__col--2 col xxs-col-12 lg-col-6 moving-el">
    <div class="home-pickles-talk__bubble home-pickles-talk__bubble--2">
      <svg>
        <use xlink:href="#home-pickles-talk-bubble-2"></use>
      </svg>

      <div class="home-pickles-talk__text" data-text="We’re one of the only organic pickle companies on the market!">
        We’re one of the only organic pickle companies on the market!
      </div>

      <span class="home-pickles-talk__cough">*cough cough*</span>

    </div>
    {% render 'lazy-asset-img', src: 'home-pickles-talks-2.png', width: 363, height: 552, class: 'home-pickles-talk__pickle home-pickles-talk__pickle--2 lazy-img--regular', alt: 'Pickle' %}
  </div>
</section>
