<section class="home-vs-them row lg-row">
  <div class="fake-title">
    {% render 'lazy-asset-img', src: 'us-vs-them.png', width: 464, height: 116, class: 'lazy-img--regular', alt: 'us vs them' %}
  </div>

  {% render 'lazy-asset-img', src: 'home-vs-table-portrait.png', width: 1752, height: 2500, class: 'home-vs-them__img home-vs-them__img--portrait lazy-img--regular', alt: 'vs table' %}
  {% render 'lazy-asset-img', src: 'home-vs-table.png', width: 3238, height: 1466, class: 'home-vs-them__img home-vs-them__img--landscape lazy-img--regular', alt: 'vs table' %}
</section>
