 {%- if settings.infos-banner != blank -%}
<section class="info-banner row" style="background-color: {{ settings.infos-banner-bg }};">
  <h2 class="container color-white aligncenter legend-text legend-text--bold">{{ settings.infos-banner }}</h2>
</section>
{% endif %}