<div class="section-separator__item {{class}}" >
  <img
    src="{{ 'separator-xxs-' | append: number | append: color | append: '.png' | asset_url }}"
    width="{{ width }}"
    height="{{ height }}"
    alt="section separator"
    />
</div>
