<section class="home-products section-separator section-separator--top section-separator--before-separator section-separator--pink">
  <div class="section-separator__inner">
    {% render 'separator-xxs', class: 'section-separator__item--top-xxs', number: '1-', color: 'pink', width: 1560 , height: 259  %}
    {% render 'separator-lg', class: 'section-separator__item--top-lg', number: '2-', color: 'pink', width: 4602, height: 474 %}
    {% render 'home-products-auto-scroller' %}
    {% render 'home-products-content' %}
  </div>
</section>
