<section class="site-section site-section--bottom grid flex flex-wrap ">
  <div class="col xxs-col-12">
    <h1 class="main-title main-title--bold color-pink md-row">{{ page.title | escape }}</h1>
    <div class="regular-text regular-text--regular color-pink ">{{ page.content }}</div>
  </div>
</section>
